* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Rectangle\ 1.png);
   
}

header{
      
      display: grid;
      grid-template-columns: auto auto;
      font-family: Arial, Helvetica, sans-serif;
      align-items: center;
      
}

.home{
    padding-right: 100px;
    font-size: 35px;
}

button{
    background-color: rgb(255, 194, 41);
    border-radius: 20px;
    height: 50px;
    width: 200px;
    font-size: 35px;
}

a{
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: auto auto;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    
}

#sub{font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
text-align: left;
}

.imagem{
    padding-left: 100px;
}

.text{
    padding-left: 200px;
   align-items: center;
}